:root {
  background: white;
  color-scheme: light only;
}
body {
  font-family: 'Source Code Pro', monospace;
  padding: 0 1em;
  background: white;
}
a {
  color: unset;
}
header h1 {
  font-weight: 500;
}
nav {
  padding: 20px 0;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  font-weight: 400;
}
footer h3 {
  font-weight: 400;
}
footer span {
  font-weight: 300;
}

/* marquee */
.marquee {
   margin: 1rem 0;
   overflow: hidden;
   max-width: 414px;
}

.marquee span {   
    display: inline-block;
    white-space: nowrap;
    color: #00112C;
    width: var(--tw);
    text-shadow: var(--tw) 0 currentColor, 
                 calc(var(--tw) * 2) 0 currentColor, 
                 calc(var(--tw) * 3) 0 currentColor,
                 calc(var(--tw) * 4) 0 currentColor;
   
    will-change: transform;
    animation: marquee var(--ad) linear infinite;
    transform: translateZ(0);
    animation-play-state: running;
    line-height: 1.5;
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

/*  
 * on MacOs: System Preferences > 
 *           Accessibility > 
 *           Display > Reduce motion
 */

@media (prefers-reduced-motion: reduce) {
  .marquee span {
    animation: none;
    text-shadow: none;
    width: auto;
    display: block;
    line-height: 1.5;
    text-align: center;
    white-space: normal;
  }
}